.workflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    margin-bottom: 30px;
    margin-top: 8px;
  }
}

.card-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 4% 1fr 1fr 1fr 4%;

  .card1 {
    grid-column: 2/3;
    position: relative;
    top: 4%;
  }
  .card {
    margin: 0px 5%;
    img {
      padding-bottom: 10px;
    }
    p {
      padding-bottom: 8px;
    }
  }
}
.companies {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 15px;
  margin: 47px 0px;
  // grid-gap: 4%;
  img {
    margin: 0px 30px;
    min-width: 120px;
    width: 70%;
  }
}
