* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: #4c545d;
  font-size: 18px;
  line-height: 1.8;
}

a {
  text-decoration: none;
  display: inline-block;
}

.header {
  background: url(/images/bg-header-desktop.png) no-repeat;
  height: 80vh;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
  text-align: center;
}

.header-content img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.header-content p {
  width: 45%;
  max-width: 45%;
  min-width: 290px;
  margin: 20px 0px;
  text-align: center;
}

.header-content h1 {
  font-size: 31px;
  font-weight: 600;
}

.header-content .buttons {
  margin-top: 10px;
}

.header-content .buttons .btn {
  color: #fff;
  font-weight: 600;
  height: 50px;
  width: 230px;
  text-align: center;
  padding: 8px 0px;
  border-radius: 35px;
  margin: 0px 6px;
  border-bottom: 1.5px solid rgba(65, 65, 65, 0.712);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-box-shadow: 1px 1px 19px 1px rgba(155, 155, 155, 0.712);
          box-shadow: 1px 1px 19px 1px rgba(155, 155, 155, 0.712);
}

.header-content .buttons .btn:hover {
  opacity: 0.8;
}

.header-content .buttons .btn-blue {
  background-color: #6173ff;
}

.header-content .buttons .btn-green {
  background-color: #26baa4;
}

.snippets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}

.snippets p {
  width: 52%;
  max-width: 52%;
  min-width: 290px;
  margin: 20px 0px;
  text-align: center;
  margin-bottom: 30px;
}

.snippets .main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.snippets .main-section img {
  position: relative;
  left: -85px;
  width: 72%;
  height: 72%;
  min-width: 500px;
}

.snippets .inner-section {
  padding: 20px 0px;
}

.snippets .inner-section ul {
  list-style: none;
  width: 80%;
  margin-bottom: 25px;
}

.snippets .inner-section ul li:nth-child(1) {
  font-size: 21px;
  font-weight: 600;
}

.access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.access p {
  width: 80%;
  max-width: 80%;
  min-width: 290px;
  margin: 20px 0px;
  text-align: center;
}

.access img {
  width: 65%;
  height: 65%;
  min-width: 600px;
}
/*# sourceMappingURL=style.css.map */