@import "variables";
@import "mixins";
@import "header";
@import "snippets";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  color: $darkGrayishBlue;
  font-size: 18px;
  line-height: 1.8;
}

a {
  text-decoration: none;
  display: inline-block;
}
